form {
  border-radius: 5px;
  padding: 20px;
}
.signin {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  background: url('https://cdn.vox-cdn.com/thumbor/pFPJqa9EHA7na_GjDdjF0R1ys7E=/0x0:2040x1360/1820x1213/filters:focal(857x517:1183x843):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/69564917/jbareham_180213_2301_0149.0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100vw;
  height: 100vw;
}
.form_wrapper {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  width: 35vw;
  height: auto;
  margin-top: 185px;
  border-radius: 10px;
}
.form_wrapper3 {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  width: 35vw;
  height: auto;
  margin-top: 135px;
  border-radius: 10px;
}
.register {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  background-image: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/d4f29128-35ad-4912-9282-32701225c77b/bvlatuR/std/1920x1080/lhd-interior-hero-desktop');
  position: fixed;
  width: 100vw;
  height: 100vw;
}
.title_signin {
  margin: 10px;
  padding: 10px;
  margin-left: 10px;
  opacity: 1;
}
.title_register {
  margin: 10px;
  padding: 10px;
  margin-left: 10px;
}
.host_blurb {
  margin-right: 5px;
}
input[type='name'],
select {
  width: 30vw;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='email'],
select {
  width: 30vw;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type='password'],
select {
  width: 30vw;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type='name'],
select {
  width: 30vw;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='submit'] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.box {
  margin-left: 8px;
}

input[type='submit']:hover {
  background-color: #45a049;
}

.signin_button {
  width: 10vw;
  background-color: #b39f19;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.register_button {
  width: 10vw;
  background-color: #b39f19;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
